
target/
dbt_packages/
logs/


git rm --cached raw_data/hosts.csv raw_data/listings.csv raw_data/reviews.csv
echo "raw_data/*.csv" >> .gitignore
git add .gitignore
git commit --amend --no-editcd
git push origin feature/bronze-layer --forceraw_data/*.csv
